node_modules/
/.pnp/
/.pnp.js
/.turbo/
.env
.env.*
dist/
coverage/
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
/.idea/
.vscode/
.DS_Store
*.sqlite
prisma/dev.db
/.history/
.cache/
coverage/
uploads/
/.parcel-cache/
